Options -Indexes
RewriteEngine On

# Mendeteksi protokol (http atau https) secara otomatis
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^.*$ http://%1/ [R=301,L]

RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^.*$ https://%1/ [R=301,L]